---
title: 11 Downs
description: "Poems by Buck Downs in LiVe MAG! Issue No.11."
---

						<h3>Buck Downs</h3>
          </div>
					<section class="poem">
						<h2 class="title"><em>intelligent stick</em></h2>
						<p class="pre">         can't afford the time
         a random habit takes
   
   buy some work on trust,
            on credit
to find out that's not
     what you wanted
          		and still
got your money's worth --

test driving a new street pencil
                  		in bed
your luck has already
         been changed
   
    stay fire smart
    don't get burned
						</p>
					</section>
					<section class="poem">
						<h2 class="title"><em>hella  nilla</em></h2><p class="pre">					
	struggling to limber up 
	in the early morning fog 
 
personals &amp; principles 
 			collide, 
 	 whatever.  action 
  betrays my good intention 
  that's just how 
  	  I was raised 
 
      nine below zero, cap'tain 
 
show me the one 
you don't show off 
  is all I want, 
ever wanted, want -- 
 
	 some people helped me 
	 grow up, grow up out of it,
				 I did not 
	 			    do it 
	 			 on my own -- 
						</p>
					</section>
					<section class="poem">
						<h2 class="title"><em>let's go struggle</em></h2><p class="pre">					
	once more into the time
		of strain, landfill holy
  	total landfill somewhere 
  	in the back of my mind.
     	   the world as it is
        	 is overflowing
        with magic. more than
        	a dumpster-full.

deftly shifting registers
travel begins to unravel</p>
</section> 