---
title: 11 Haberny
description: "Art by Greg Haberny in LiVe MAG! Issue No.11."
---

						<h3>Greg Haberny</h3>
          </div>
          <figure>
            <img src="../images/no11/hahahouse.jpg" alt="handmade paper house" height="757" width="700"> 
              <figcaption><em>Untitled (happy house)</em>, 2014
							mixed media, 13 x 9 in., courtesy CATINCA TABACARU gallery</figcaption> 
          </figure>  