---
title: 11 Home
description: "Jeffrey Cypher's Wright collage and LiVe MAG! Issue No.11 table of contents."
---

						<h3>Issue 11 2014</h3>
          </div>
          <figure>
            <img src="../images/no11/cover11.jpg" alt="collage" height="700" width="700"> 
              <figcaption>JCW</figcaption> 
          </figure>  
          <div id="toc">
          <h3>Current Art &amp; Poetry by ...</h3>
          <ul>
            <li><a href="downs.html">Buck Downs</a></li>
            <li><a href="haberny.html">Greg Haberny</a></li>
            <li><a href="kostos.html">Dean Kostos</a></li>
            <li><a href="lecroy.html">Jane LeCroy</a></li>
            <li><a href="leto.html">Steve Leto</a></li>
            <li><a href="ling.html">Micah Ling</a></li>
            <li><a href="mccarty.html">Brian McCarty</a></li>
            <li><a href="miller.html">Stephen Paul Miller</a></li>
            <li><a href="park.html">Gahae Park</a></li>
            <li><a href="pemberton.html">David Pemberton</a></li>
            <li><a href="pritzker.html">Elisa Pritzker</a></li>
            <li><a href="quasha.html">George Quasha</a></li>
            <li><a href="rosenthal.html">Barbara Rosenthal</a></li>
            <li><a href="rupp.html">Christy Rupp</a></li>
            <li><a href="seltman.html">Cassandra Seltman</a></li>
            <li><a href="zighelboim.html">Samantha Zighelboim</a> </li>
            
          </ul>
        </div>
     