---
title: 11 Kostos
description: "Poems by Dean Kostos in LiVe MAG! Issue No.11."
---

						<h3>Dean Kostos</h3>
          </div>
          <section class="poem">
            <h2 class="title">GREEN TORCH (SONG)</h2>
            <p>
            	A Brooklyn oak in early May, I ache<br> 
							<span class="space"> . . . . </span>from colors singing through my veins.</p>
							
							<p>Centuries have darkened, voices of the dead<br> 
							<span class="space"> . . . . </span>nattering, congealed</p>

							<p>into sap. I have hardened&mdash;<br>
							<span class="space"> . . . . </span>obsession spiraling from my rings:</p>

							<p>becomingbecome… I want<br> 
							<span class="space"> . . . . </span>what exceeds my reach,</p> 
							
							<p>limbs scything distance:<br> 
							<span class="space"> . . . . </span>swatches blue &amp; blue.</p> 
								 
							<p>August: dust culls in leaves’ nervure.<br>
							<span class="space"> . . . . </span>Greens brown. </p>

							<p>October ignites eyes: I churn,<br> 
							<span class="space"> . . . . </span>burn my colors out.</p> 

							<p>Wind &amp; rain rinse me bald,<br> 
							<span class="space"> . . . . </span>my leaves choking gutters.</p> 

							<p>Hands stab pewter air with umbrellas,<br> 
							<span class="space"> . . . . </span>sky bleeding sky.</p>

							<p>January: standing black<br> 
							<span class="space"> . . . . </span>against Brueghel snow,</p> 
							
							<p>I am indecipherable.<br> 
							<span class="space"> . . . . </span>Neither notion, notation,</p> 

							<p>nor dark guitar, I am<br>
							<span class="space"> . . . . </span>unstrung. Unsung.</p>
						</section>