---
title: 11 LeCroy
description: "Poem by Jane LeCroy in LiVe MAG! Issue No.11."
---

						<h3>Jane LeCroy</h3>
          </div>
          <section class="poem">
            <h2 class="title">Witch</h2>
            <p>
            	Flames of steam leap up<br>
							from the pot bubbling on the fire<br>
							Who's the victim?<br>
							Among them<br>
							We comb for vermin<br>
							that which sucks our blood<br>
							steals, spoils</p>
						<p>
							She drops one brush<br>
							into the boiling water<br>
							then another brush<br>
							and another<br>
							and another<br>
							until all the brushes in the house<br>
							are boiling</p>
						<p>
							It is an ancient spell that<br>
							those who dwell<br>
							with children or lovers, cast;<br>
							a ritual, evidence<br>
							of relationship,<br>
							Lice &amp; People<br>
							Nature<br>
							Itch</p>
					</section>