---
title: 11 Leto
description: "Poem by Steve Leto in LiVe MAG! Issue No.11."
---

						<h3>Steve Leto</h3>
          </div>
          <section class="poem">
            <h2 class="title">Illustrations from the<br> Dictionary of Dreams</h2><p>
 
						    <em class="indent">anti-form:</em><br>
						The hours have gotten cruel.<br>
						They don’t humor me.<br>
						Hand in hand in<br>
						hand they dance circles around the clock<br>
						then reverse into<br>
						days that taunt the room.</p>
						<p>
								<em class="indent">spirit:</em><br>
						My guides draw back.<br>
						Through histories of nows that are all<br>
						this moment. The wind<br>
						holds a breath waits<br>
						till I’m convinced I’m<br>
						alone.</p>
						<p>
								<em class="indent">conflation:</em><br>
						The trees offer themselves<br>
						wave me toward the slope<br>
						they climb lure me<br>
						into a bed of moss. The distraction<br> 
						unwinds. Along the edges mapping this self<br>
						flesh dissolves.</p>
						<p>
								<em class="indent">nondual:</em><br>
						The glimpse<br>
						you wedge through the crowd<br>
						breaks the vacuum sealed with your absence.<br>
						Your eyes<br>
						touch like hands<br>
						my body won’t forget.</p>
						<p>
								<em>epigenesis:</em><br>
						Past a thinning membrane of dark<br> 
						form resumes shape.<br> 
						Substance and mass coalesce<br>
						your body reassembles. I<br> 
						see beyond you<br> 
						with your eyes.
						</p>
              <p>&nbsp;</p>
          </section>