---
title: 11 Ling
description: "Poem by Micah Ling in LiVe MAG! Issue No.11."
---

						<h3>Micah Ling</h3>
          </div>
          <section class="poem">
            <h2 class="title">Piano Lesson</h2>
            <p>
            	My mother left a check for twelve dollars on the counter<br>
							each Wednesday. I slipped it in my pocket<br>
							and crept four blocks: Andover Road to Stanford<br>
							to Bedford. Mrs. Kearn’s house smelled of books<br>
							and dog food. She had a son who was deformed<br> 
							and always with a blank face. Sometimes he answered<br>
							the door, and she shooed him like the old dachshund.<br>
							She had a double chin that may have been made of marzipan&mdash;<br>
							I so wanted to touch it—and, honestly<br>
							I thought about what it would be like to bite it:<br>
							not because I wanted to, but because I had never seen<br>
							something so plump. I spent more time thinking<br> 
							about soft flesh than piano chords. She sat in a chair<br>
							next to the piano bench. She’d reach around me<br>
							and pull the sheet music off its shelf to pencil<br> 
							some note about this or that. She smelled of saccharine<br> 
							perfume she’d likely had since she was a girl. I hated<br>
							the whole scene. The hot lamp, the clock arms itching<br>
							around. But when Mrs. Kearn made me switch seats<br>
							and she really got going, with her fingers, up and down<br>
							the keys—there was nothing so intoxicating.</p>
						</section>