---
title: 11 McCarty
description: "Photo by Brian McCarty in LiVe MAG! Issue No.11."
---

						<h3>Brian McCarty</h3>
          </div>
          <figure>
            <img src="../images/no11/gaza.jpg" alt="torpedos" height="1050" width="700"> 
              <figcaption> <em>Gaza Cinderella</em> courtesy Underground Current</figcaption> 
          </figure>  