---
title: 11 Miller
description: "Poems by Stephen Paul Miller in LiVe MAG! Issue No.11."
---

					<h3>Stephen Paul Miller</h3>
          </div>
          <section class="poem">
            <h2 class="title">Tonight</h2>
            <p>
            	I could become a wafer<br>
							and perhaps be transmuted<br> 
							and the stars could become a leaf<br>
							and in the autumn blow away.</p>
						<p>
							Moths could sing in your kitchen<br>
							and the world revolve around your lighter,<br>
							Whole families could cook dinner in your breadbox<br>
							so you could get older<br> 
							and that would interest me too.</p>
						<p>
							The fireplace could be an old museum.<br>
							The way you look merits our playing casino<br>
							with each match lighting the fire in it.</p>
						</section>
						<section class="poem">
            <h2 class="title">People</h2>
            <p>People think just because</p>
						<p>you're a cartoon character</p>
						<p>you can't feel pain</p>
						<p>but isn't that exactly what hurts?</p>
				</section>