---
title: 11 Park
description: "Art by Gahae Park in LiVe MAG! Issue No.11."
---

						<h3>Gahae Park</h3>
          </div>
          <figure>
            <img src="../images/no11/gahae.jpg" alt="white with music sheet" height="519" width="668"> 
              <figcaption> <em>Blue Flower in Rhythm</em>, 2013, cut paper, 20 x 24 in.</figcaption> 
          </figure>  