---
title: 11 Pemberton
description: "Poem by David Pemberton in LiVe MAG! Issue No.11."
---

						<h3>David Pemberton</h3>
          </div>
          <section class="poem">
            <h2 class="title">Gore</h2>
            <p>
							<em>-After Wallace Stevens and Jason Voorhees</em><br>
							I’ve reduced my current events intake to<br>
							Deadpit.com Horror Talk Radio.</p>
						<p>
							Two Kentuckians streaming form from<br>
							Prestonsburg, hip to the beat of bleeding</p>
						<p>
							arteries, faithful to the aerobic-<br>
							able aesthetic of the eighties, the</p>
						<p>
							casual and stark “Man Carrying Thing” thing.<br>
							This man is carrying an ear and a warning:</p>
						<p>
							details draped in their own self-awareness,<br>
							the killer “must resist the intelligence</p>
						<p>
							almost successfully,” as he severs limbs<br>
							from an obvious whole as he is almost</p>
						<p>
							completely successful in destroying<br>
							everything on his way to being destroyed.</p>
					</section>

