---
title: 11 Pritzker
description: "Art by Elisa Pritzker in LiVe MAG! Issue No.11."
---

						<h3>Elisa Pritzker</h3>
          </div>
          <figure>
            <img src="../images/no11/mondrian.jpg" alt="drawing with zipper" height="504" width="504"> 
              <figcaption> <em>Mondrian Tree</em></figcaption> 
          </figure>  