---
title: 11 Quasha
description: "Poem by George Quasha in LiVe MAG! Issue No.11."
---

						<h3>George Quasha</h3>
          </div>
          <section class="prose">
            <h2 class="title">6<span class="space"> . . . . </span><em>out of the corner of the mouth in the twinkling of an eye</em></h2>
            
							<p>Language is dying to mean.</p>
							<p>&nbsp;</p>
							<p>Don’t catch cold, catch thinking.</p> 
							Mouth sucking the world back in is slip noetics. </p>
							<p>&nbsp;</p>
							<p>Letting go back the better to leap out new.</p> 
							It’s true, it’s true, dead semes haunt.</p>
							<p>&nbsp;</p>
							<p>Each thing comes in to speak through the whole body.</p> 
							Her allegorical beauty finally finds the pulsing vein.</p>
							<p>&nbsp;</p>
							<p>If I get caught dead thinking I’m courting the Bride of Lazarus for inspiration.</p> 
							This leaves me somewhere between desperation poetics and respiration noetics.</p>
							<p>&nbsp;</p>
							<p>I don’t just see your face, she says, I suck it in to where examination feels contour.</p>
							My tongue is on your leg when I sing to make you dance. </p> 
							You think this can’t be said, you’re right, this is not what is being said.</p> 
							There is a poetics of interdimensional pretension—not just physics.</p>
							<p>&nbsp;</p>
							<p>Culture dies in its sleep according to a law of accelerating high bounce returns.</p> 
							Configures romp. Syntaxis interruptus.</p>
							<p>&nbsp;</p>
							<p>Matrix query: why insist on saying what doesn’t know how to be read?</p>
						</section>
