---
title: 11 Rosenthal
description: "Art by Barbara Rosenthal in LiVe MAG! Issue No.11."
---

						<h3>Barbara Rosenthal</h3>
          </div>
          <figure>
            <img src="../images/no11/rosenthal.jpg" alt="cave img with cartoon figures" height="828" width="700"> 
              <figcaption><em>But do you think it would sell?</em></figcaption> 
          </figure>  