---
title: 11 Rupp
description: "Art by Christy Rupp in LiVe MAG! Issue No.11."
---

						<h3>Christy Rupp</h3>
          </div>
          <figure>
            <img src="../images/no11/rupp.jpg" alt="felt esso can" height="829" width="600"> 
              <figcaption>Oil container of hand felted wool (life size)</figcaption> 
          </figure>  