---
title: 11 Zighelboim
description: "Poem by Samantha Zighelboim in LiVe MAG! Issue No.11."
---

						<h3>Samantha Zighelboim</h3>
          </div>
          <section class="poem">
            <h2 class="title">COMPOSITION(V)</h2>
            <p>
            	Topic: obsession. Be specific: unrequited<br>
							love inevitably ends in obsession. Now<br> 
							a thesis statement, but not like this: <em>I am<br>
							obsessed and miserable because I love you.</em><br>
							Complicate and expand: <em>Autumn is slaying<br>
							all wishes for the new year.</em> Or something like,<br>
							<em>What right have you to incinerate your new<br> 
							scarf on the sidewalk right there in front of our<br> 
							favorite restaurant?</em> From here we can begin<br> 	
							creating the body—bodies, rather—three<br> 
							of them, each a unit formed by the integrity we<br>
							must muster, imagine, fake. Make it all up!<br>
							As long as topic sentences don’t fail you<br> 
							like everything else in this city, you should<br>
							be fine. That is not a promise. <em>A promise<br>
							can be born of obsession, and this can mean<br>
							possible death of the heart.</em> Evidence:<br>
							<em>I won’t die before I stop hating you.</em> Or,<br>
							possibly the simple mention of your blue<br>
							gloves, the ones with missing fingertips.</p>
					</section>