/* The "Author" webfont embedded below are copyright protected by 
ila Dilworth with all right reerved. If you wih to ue them 
on your webite, email ila@typetrut.com for licening info.*/
@font-face {
  font-family: "Author";
  src: url('../fonts/authorweb-regular.eot');
  src: url('../fonts/authorweb-regular.eot?#iefix') format('eot'), url('../fonts/authorweb-regular.woff') format('woff'), url('../fonts/authorweb-regular.ttf') format('truetype'), url('../fonts/authorweb-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Author";
  src: url('../fonts/authorweb-regular.eot');
  src: url('../fonts/authorweb-regular.eot?#iefix') format('eot'), url('../fonts/authorweb-regular.woff') format('woff'), url('../fonts/authorweb-regular.ttf') format('truetype'), url('../fonts/authorweb-regular.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* line 55, ../sass/Partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../sass/Partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 74, ../sass/Partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 81, ../sass/Partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 94, ../sass/Partials/_normalize.scss */
html {
  font-size: 100%;
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 110, ../sass/Partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 116, ../sass/Partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/Partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 139, ../sass/Partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 152, ../sass/Partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 157, ../sass/Partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 162, ../sass/Partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 167, ../sass/Partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 172, ../sass/Partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 177, ../sass/Partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 185, ../sass/Partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 192, ../sass/Partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 197, ../sass/Partials/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 204, ../sass/Partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 210, ../sass/Partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 218, ../sass/Partials/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 229, ../sass/Partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 239, ../sass/Partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 247, ../sass/Partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 256, ../sass/Partials/_normalize.scss */
q {
  quotes: none;
}

/* line 263, ../sass/Partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 270, ../sass/Partials/_normalize.scss */
small {
  font-size: 80%;
}

/* line 278, ../sass/Partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 285, ../sass/Partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 289, ../sass/Partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 302, ../sass/Partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 308, ../sass/Partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 317, ../sass/Partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 326, ../sass/Partials/_normalize.scss */
nav ul,
nav ol {
  list-style-image: none;
}

/* line 341, ../sass/Partials/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 350, ../sass/Partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 360, ../sass/Partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 370, ../sass/Partials/_normalize.scss */
form {
  margin: 0;
}

/* line 377, ../sass/Partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 388, ../sass/Partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 405, ../sass/Partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 418, ../sass/Partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 428, ../sass/Partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 443, ../sass/Partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 454, ../sass/Partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 464, ../sass/Partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 476, ../sass/Partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 487, ../sass/Partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 495, ../sass/Partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 504, ../sass/Partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 515, ../sass/Partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/Partials/_pager.scss */
.pager {
  margin: 20px;
  padding-left: 0;
  list-style: none;
  text-align: center;
  *zoom: 1;
}

/* line 9, ../sass/Partials/_pager.scss */
.pager:before,
.pager:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 14, ../sass/Partials/_pager.scss */
.pager:after {
  clear: both;
}

/* line 17, ../sass/Partials/_pager.scss */
.pager li {
  display: inline;
}

/* line 21, ../sass/Partials/_pager.scss */
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  color: #0055cc;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/* line 18, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p195@www/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.pager li > a:visited,
.pager li > span:visited {
  color: #0055cc;
}
/* line 21, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p195@www/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.pager li > a:focus,
.pager li > span:focus {
  color: #0055cc;
}
/* line 24, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p195@www/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.pager li > a:hover,
.pager li > span:hover {
  color: #0055cc;
}
/* line 27, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p195@www/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.pager li > a:active,
.pager li > span:active {
  color: #0055cc;
}

/* line 32, ../sass/Partials/_pager.scss */
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

/* line 37, ../sass/Partials/_pager.scss */
.pager .next > a,
.pager .next > span {
  float: right;
}

/* line 41, ../sass/Partials/_pager.scss */
.pager .previous > a,
.pager .previous > span {
  float: left;
}

/* line 47, ../sass/Partials/_pager.scss */
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #fff;
  cursor: default;
}

/* line 8, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/styles.scss */
html {
  height: 100%;
}

/* line 14, ../sass/styles.scss */
body {
  background: url('../images/zigzag.png?1339701544') repeat;
  font-family: "Author", Helvetica, Arial, sans-serif;
  color: #f9f9f9;
}
/* line 18, ../sass/styles.scss */
body #wrapper {
  width: 800px;
  height: auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  background: #f9f9f9 repeat;
  color: #1a1a1a;
}
/* line 27, ../sass/styles.scss */
body #wrapper .container {
  margin: 0 auto;
  background: #f9f9f9 repeat;
  color: #1a1a1a;
  max-width: 798px;
}
/* line 38, ../sass/styles.scss */
body #wrapper .container header {
  width: 100%;
  height: 60px;
  background-color: #ef2774;
  color: #1a1a1a;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}
/* line 45, ../sass/styles.scss */
body #wrapper .container header a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p195@www/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
body #wrapper .container header a:active, body #wrapper .container header a:focus {
  outline: none;
}
/* line 48, ../sass/styles.scss */
body #wrapper .container nav ul {
  text-align: center;
  padding: 0;
}
/* line 51, ../sass/styles.scss */
body #wrapper .container nav ul li {
  font-family: Courier, "Lucida Sans Typewriter", "Lucida Typewriter", "Courier New", "American Typewriter";
  font-weight: 600;
  padding: 0 2em;
  display: inline;
}
/* line 56, ../sass/styles.scss */
body #wrapper .container nav ul li a {
  color: #ef2774;
  text-decoration: none;
}
/* line 59, ../sass/styles.scss */
body #wrapper .container nav ul li a:hover {
  border-bottom: 3px dotted #ef2774;
}
/* line 66, ../sass/styles.scss */
body #wrapper .container .issue {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 100%;
}
/* line 72, ../sass/styles.scss */
body #wrapper .container .issue #date {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 76, ../sass/styles.scss */
body #wrapper .container .issue #date a {
  color: #ef2774;
  text-decoration: none;
}
/* line 79, ../sass/styles.scss */
body #wrapper .container .issue #date a:hover {
  border-bottom: 3px dotted #ef2774;
}
/* line 84, ../sass/styles.scss */
body #wrapper .container .issue img {
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0;
  text-align: center;
}
/* line 88, ../sass/styles.scss */
body #wrapper .container .issue #toc {
  margin-top: 2em;
  font-size: 1.3em;
  position: relative;
  width: 74.54545%;
  float: left;
  margin-right: -100%;
  margin-left: 12.72727%;
  clear: none;
  background-color: #e9eff1;
  border: 1px dotted #ed541b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 96, ../sass/styles.scss */
body #wrapper .container .issue #toc h3 {
  margin-bottom: 0;
  color: #ef2774;
  text-shadow: white 0 1px 0;
}
/* line 101, ../sass/styles.scss */
body #wrapper .container .issue #toc ul {
  position: relative;
  font-family: Courier, "Lucida Sans Typewriter", "Lucida Typewriter", "Courier New", "American Typewriter";
  float: none;
  padding: .5em 0;
}
/* line 106, ../sass/styles.scss */
body #wrapper .container .issue #toc ul li {
  display: inline;
  padding: .6em;
  line-height: 1.3em;
  white-space: nowrap;
  font-weight: 600;
}
/* line 112, ../sass/styles.scss */
body #wrapper .container .issue #toc ul li a {
  color: #1a1a1a;
  text-decoration: none;
}
/* line 44, ../sass/Partials/_base.scss */
body #wrapper .container .issue #toc ul li a:hover {
  color: #ef2774;
}
/* line 117, ../sass/styles.scss */
body #wrapper .container #footer-nav {
  clear: both;
  width: 798px;
  text-align: center;
}
/* line 120, ../sass/styles.scss */
body #wrapper .container #footer-nav a {
  color: #1a1a1a;
  text-decoration: none;
}
/* line 44, ../sass/Partials/_base.scss */
body #wrapper .container #footer-nav a:hover {
  color: #ef2774;
}
/* line 124, ../sass/styles.scss */
body #wrapper #footer {
  width: 100%;
  position: relative;
  margin-top: 1em;
  padding: 1em;
  height: 4em;
  clear: both;
  background-color: #f9f9f9;
  color: #1a1a1a;
  text-align: center;
}
/* line 135, ../sass/styles.scss */
body #wrapper #footer h5 {
  text-align: center;
  margin: 0;
}

/* line 142, ../sass/styles.scss */
section {
  display: table-row;
}

/* line 143, ../sass/styles.scss */
figure {
  padding-bottom: 30px;
}

/* line 144, ../sass/styles.scss */
figcaption a {
  color: #0055cc;
}
/* line 18, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p195@www/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
figcaption a:visited {
  color: #0055cc;
}
/* line 21, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p195@www/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
figcaption a:focus {
  color: #0055cc;
}
/* line 24, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p195@www/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
figcaption a:hover {
  color: #0055cc;
}
/* line 27, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p195@www/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
figcaption a:active {
  color: #0055cc;
}

/* line 145, ../sass/styles.scss */
.prose {
  width: 74.54545%;
  float: left;
  margin-right: -100%;
  margin-left: 12.72727%;
  clear: both;
  text-align: left;
  line-height: 1.2em;
}

/* line 150, ../sass/styles.scss */
.poem {
  width: 61.81818%;
  float: left;
  margin-right: -100%;
  margin-left: 25.45455%;
  clear: both;
  text-align: left;
  line-height: 1.2em;
}

/* line 155, ../sass/styles.scss */
.poem p:last-of-type {
  padding-bottom: 30px;
}

/* line 156, ../sass/styles.scss */
h1, h2.title {
  font-family: Courier, "Lucida Sans Typewriter", "Lucida Typewriter", "Courier New", "American Typewriter";
  padding-top: 0;
  color: #1a1a1a;
}

/* line 161, ../sass/styles.scss */
h2.title {
  padding-bottom: 10px;
}

/* line 163, ../sass/styles.scss */
#logo h1 {
  width: 36.36364%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  line-height: .6em;
  margin-left: 1em;
}

/* line 168, ../sass/styles.scss */
.tagline {
  width: 49.09091%;
  float: left;
  margin-right: -100%;
  margin-left: 38.18182%;
  clear: none;
  font-weight: bold;
  font-family: "Author", Helvetica, Arial, sans-serif;
}
/* line 172, ../sass/styles.scss */
.tagline h3 {
  padding-top: .2em;
  padding-left: 24px;
}

/* line 174, ../sass/styles.scss */
.fb {
  color: #3c68ca;
}

/* line 175, ../sass/styles.scss */
.btn {
  width: 10.90909%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0;
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #eec07d;
  color: #1a1a1a;
  font-weight: bold;
  text-align: center;
  margin: 1.4em 2em 0 0;
  padding-top: .2em;
}

/* line 187, ../sass/styles.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 191, ../sass/styles.scss */
.space {
  color: white;
}
