
.dark-container {
	margin: 0 auto;
  background: #070707 repeat;
  color: #f9f9f9;
	max-width: $container-width;	
	header {
		width : 100%;
		height : 60px;
		background-color: $accent-color;
		color: $main-color;
		@include letterpress(0.5);
		a {@include unstyled-link;}
		}
	nav {
		ul {
			text-align: center;
			padding: 0;
			li {
				font-family: $heading-font-family;
				font-weight: 600;
				padding: 0 2em;
				display: inline;
				a {
					color: $accent-color;
					text-decoration: none;
					&:hover {
					border-bottom: 3px dotted $accent-color;
					}
				}
			}	
		}
	}
	.article-wrap {
		display: inline-block;
		text-align: center;
		position: relative;
		width: 100%;
		#date {
			text-align: center;
			font-weight: bold;
			font-size: 1.5em;
			a {
				color: $accent-color;
				text-decoration: none;
				&:hover {
				border-bottom: 3px dotted $accent-color;
				}
			}
		}
		img {
			text-align: center;
			pointer-event: none;
		}
		article {
			margin-top: 2em;	
			padding: .6em 1.5em;
			position: relative;
			@include grid-span(6, 2);
			background-color: #e9eff1;
			border: 1px dotted #ed541b;
			@include border-radius();
			p {
				letter-spacing: -0.03em;
				font: 600 1em/1.6em $sans;
				text-align: justify;
				color: $main-color;
				a {@include toc-link; background-color:$whitish;}
			}
			h2 {
				margin-bottom: 0;
				color: $accent-color;
				font-family: $heading-font-family;
				@include letterpress(1);
			} 
		}
	}
}
#push {color: black;}
