.issue article {
	@extend #toc;
	clear: both;
	//@include replace-text-with-dimensions('livemag9_thumb.jpg') 
	figure {
		@include grid-span(2, 1);
		position: relative;
		padding: 8px;
		//@include vertical-center;
	}
	p {
		@include grid-span(6, 3);
		padding: 10px;
		text-align: left;
		font: 400 0.8em/1.4em $sans;
	}
	.issue-number {
		@extend #date;
		position: absolute;
		top: 90px;
		left: 60px;
		@include hide-text;
		@include scale(3);
		&:hover, &:focus {
			font-family: $sans;
			color: $accent-color;
		}
	}

}