---
title: 10 Devaney
description: "Poem by Thomas Devaney in LiVe MAG! Issue No.10."
---
    <div id="wrapper">
      <div class="container">
        <header>
          <div id="logo">
            <h1><a href="http://www.livemag.org">LiVE MAG! NYC</a></h1>
          </div>  
          <div class="tagline">
            <h3>Art and poetry on page and stage</h3>
          </div>
          <div class="btn"><a href="../subscribe.html">BUY</a></div>        
        </header>
        <nav>
          <ul>
            <li><a href="../about.html">About</a></li>
            <li><a href="http://covermagnyc.com">Art Reviews</a></li>
            <li><a href="../issues.html">Issues</a></li>
            <li><a href="../videos.html">Videos</a></li>
            <li><a href="../contact.html">Contact</a></li> 
          </ul>
        </nav>
        <div class="issue">
          <div id="date">
            <h3><a href="index.html">10</a></h3>
            <h3>Thomas Devaney</h3>
          </div>
          <section class="poem">
            <h2 class="title">OREGON AVE</h2> 
             <p>You can’t find a place to smoke anymore <br>
              Ro says, smoking and rifling <br>
              through her handbag looking for a number. <br>
              She sits in the backseat with Meg. <br>
              They’re not singing. <br>
              The ballgame’s on inside <br>
              and outside <br>
              the game is always on. <br>
              Actually, sometimes they do sing. <br>
              What year is the car, a ‘98? <br>
              A Ford? A Focus? <br>
              They always tip too. <br>
              There is dust, always; and terrible dirt; <br>
              but if that’s what you see you’re hardly looking. <br>
              They believe in the front stoop. <br>
              They believe in the back of the Ford. <br>
              They believe that in the heat of day <br>
              shadows come back.<br>
              The trashcan on fire says <em>things are hotting up</em>.<br>
              The street’s a mix, water, water ice, LIVE CRABS,<br>
              jumbo jets, firecrackers.<br>
              Summer days are huge and often overlap late into fall.<br>
            Seriously, when you have a good spot, why move the car?</p>
          </section>
        </div>
          <ul class="pager clearfix">
            <li class="previous">
              <a href="jenks.html">&larr; Back</a>
            </li>
            <li class="next">
              <a href="robinson.html">Next &rarr;</a>
            </li>
          </ul>
        
          <div id="footer-nav" class="clearfix">
              <h3><a href="index.html">Issue 10 2013</a></h3>
          </div><!-- end footer-nav -->
        
          <div id="push">.</div> 
      </div><!-- end container -->   
      
