---
title: 10 Hiratsuka
description: "Stone Sculpture by Ken Hiratsuka in LiVe MAG! Issue no.10."
---
    <div id="wrapper">
      <div class="container">
        <header>
          <div id="logo">
            <h1><a href="http://www.livemagnyc.com">LiVE MAG! NYC</a></h1>
          </div>  
          <div class="tagline">
            <h3>Art and poetry on page and stage</h3>
          </div>
          <div class="btn"><a href="../subscribe.html">BUY</a></div>        
        </header>
        <nav>
          <ul>
            <li><a href="../about.html">About</a></li>
            <li><a href="http://covermagnyc.com">Art Reviews</a></li>
            <li><a href="../issues.html">Issues</a></li>
            <li><a href="../pages/links.htm">Videos</a></li>
            <li><a href="../pages/contact.htm">Contact</a></li> 
          </ul>
        </nav>
        <div class="issue">
          <div id="date">
            <h3><a href="index.html">10</a></h3>
            <h3>Ken Hiratsuka</h3>
          </div>
          <figure>
            <img src="../images/no10/kenny.jpg" alt="drawing" height="462px" width="700px">
          </figure>  
        </div>
        
          <ul class="pager clearfix">
            <li class="previous">
              <a href="wright.html">&larr; Back</a>
            </li>
            <li class="next">
              <a href="spirit.html">Next &rarr;</a>
            </li>
          </ul>
        
          <div id="footer-nav" class="clearfix">
              <h3><a href="index.html">Issue 10 2013</a></h3>
          </div><!-- end footer-nav -->
        
          <!-- <div id="push">.<div>  -->
      </div><!-- end container -->   
      
