---
title: 10 Kolm
description: "Poem by Ron Kolm in LiVe MAG! Issue No.10."
---

    <div id="wrapper">
      <div class="container">
        <header>
          <div id="logo">
            <h1><a href="http://www.livemagnyc.com">LiVE MAG! NYC</a></h1>
          </div>  
          <div class="tagline">
            <h3>Art and poetry on page and stage</h3>
          </div>
          <div class="btn"><a href="../subscribe.html">BUY</a></div>        
        </header>
        <nav>
          <ul>
            <li><a href="../about.html">About</a></li>
            <li><a href="http://covermagnyc.com">Art Reviews</a></li>
            <li><a href="../issues.html">Issues</a></li>
            <li><a href="../pages/links.htm">Videos</a></li>
            <li><a href="../pages/contact.htm">Contact</a></li> 
          </ul>
        </nav>
        <div class="issue">
          <div id="date">
            <h3><a href="index.html">10</a></h3>
            <h3>Ron Kolm</h3>
          </div>
          <section class="poem">
            <h2 class="title">Bad Timing</h2> 
            <p>
              I turn off the lights<br>
              In my friend’s apartment<br>
              And watch you play<br>
              With your laptop<br>
              In the darkness.<br>
              Your face is bathed<br>
              In a greenish glow<br>
              Like a bombardier<br>
              Looking for targets below.
              </p>
              <p> 
              I know your mind<br>
              Is somewhere else --<br>
              That becomes<br>
              Abundantly clear<br>
              When you gently brush<br>
              My hand away as I try<br>
              To touch your breast.<br>
              &ldquo;This is not a good<br>
              Time,&rdquo; you say, sliding<br>
              Off the sofa, returning<br>
              To your work.
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </section>
        </div>
        
          <ul class="pager clearfix">
            <li class="previous">
              <a href="rutkowski.html">&larr; Back</a>
            </li>
            <li class="next">
              <a href="ellison.html">Next &rarr;</a>
            </li>
          </ul>
          <div id="footer-nav" class="clearfix">
              <h3><a href="index.html">Issue 10 2013</a></h3>
          </div><!-- end footer-nav -->
          <!-- <div id="push">.<div>  -->
      </div><!-- end container -->   
      

