---
title: 10 Perchik
description: "Poem by Simon Perchik in LiVe MAG! Issue No.10."
---
    <div id="wrapper">
      <div class="container">
        <header>
          <div id="logo">
            <h1><a href="http://www/livemagnyc.com">LiVE MAG! NYC</a></h1>
          </div>  
          <div class="tagline">
            <h3>Art and poetry on page and stage</h3>
          </div>
          <div class="btn"><a href="../subscribe.html">BUY</a></div>        
        </header>
        <nav>
          <ul>
            <li><a href="../about.html">About</a></li>
            <li><a href="http://covermagnyc.com">Art Reviews</a></li>
            <li><a href="../issues.html">Issues</a></li>
            <li><a href="../pages/links.htm">Videos</a></li>
            <li><a href="../contact.html">Contact</a></li> 
          </ul>
        </nav>
        <div class="issue">
          <div id="date">
            <h3><a href="index.html">10</a></h3>
            <h3>Simon Perchik</h3>
          </div>
          <section class="poem">
            <h2 class="title">*</h2><p>      Faster then faster<br>  this gate<br>
             <br>
      gaining the advantage, crouches<br>
             <br>
      the way skaters surround their arms</p>
<p>           <br>
      and around these dead<br>
             <br>
      clinging to stone and mornings <br>
             <br>
      -by instinct the fence</p>
<p>           <br>
      slides your hand closer<br>
             <br>
      touches your sleeves<br>
             <br>
      as marble and rapture </p>
<p>           <br>
      -even without this breeze<br>
             <br>
      you're used to the sky<br>
             <br>
      pulling you in, smaller and smaller</p>
<p>           <br>
      as if the Earth stopped before<br>
             <br>
      let its dirt fall away, open<br>
             <br>
      not yet from behind.<br></p>
          </section>
          <section class="poem">
            <h2 class="title">*</h2><p>    Whatever you soften<br>   it's the dirt<br>
             <br>
      that starts though your lips<br>
             <br>
      touch down and try again</p>
<p>           <br>
      counting off the hours<br>
             <br>
      just now learning to mimic<br>
             <br>
      rain -in time</p>
<p>           <br>
      you will smooth the ground<br>
             <br>
      better than before, for years<br>
             <br>
      talking babytalk -have to </p>
<p>           <br>
      -this rain is not yet<br>
             <br>
      what it wanted<br>
             <br>
      and all the way down</p>
<p>           <br>
      you practice the way stones<br>
             <br>
      are surrounded by dew<br>
             <br>
      no longer whispers and places.</p> 
              
          </section>
        </div>
        
          <ul class="pager clearfix">
            <li class="previous">
              <a href="robinson.html">&larr; Back</a>
            </li>
            <li class="next">
              <a href="klein.html">Next &rarr;</a>
            </li>
          </ul>
        
          <div id="footer-nav" class="clearfix">
              <h3><a href="index.html">Issue 10 2013</a></h3>
          </div><!-- end footer-nav -->
        
          <!-- <div id="push">.<div>  -->
      </div><!-- end container -->   
      

