---
title: Home
description: "Performance, art, and poetry curated by Jeffrey Cyphers Wright. Established in 2008."
---

<div id="wrapper">
    <div class="container">
      <header>
        <div id="logo">
          <h1>LiVE MAG! NYC</a></h1>
        </div>  
        <div class="tagline">
          <h3>Art and poetry on page and stage</h3>
        </div>
        <div class="btn"><a href="subscribe.html">BUY</a></div>        
      </header>
      <nav>
        <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="http://covermagnyc.com">Art Reviews</a></li>
          <li><a href="issues.html">Issues</a></li>
          <li><a href="videos.html">Videos</a></li>
          <li><a href="contact.html">Contact</a></li> 
        </ul>
      </nav>
      <div class="issue">
        <div id="date">
          <h3><a href="issue_10/index.html">Current Issue</a></h3>
        </div>
        <figure><img src="images/cover.gif" alt="collage" height="462" width="704">
        </figure>
        <section class="panel">
          <a href="subscribe.html">
            <figure> 
              <img src="images/boy.gif" alt="jeff selfie" height="160" width="160">
            </figure>
            <p>Subscribe now to reserve your copy of the next collectible issue!</p>
          </a>
        </section>
      </div><!-- end issue -->
    </div><!-- end container -->    