---
title: Videos
description: "Videos of LiVE MAG! performance events at Downtown New York City venues."
---
    <div id="wrapper">
  <div class="dark-container">
    <header>
      <div id="logo">
        <h1><a href="http://www.livemag.org">LiVE MAG! NYC</a></h1>
      </div>  
      <div class="tagline">
        <h3>Art and poetry on page and stage</h3>
      </div>
      <div class="btn"><a href="subscribe.html">BUY</a></div>        
    </header>
    <nav>
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="http://covermagnyc.com">Art Reviews</a></li>
        <li><a href="issues.html">Issues</a></li>
        <li>Videos</li>
        <li><a href="contact.html">Contact</a></li> 
      </ul>
    </nav>
    
    <div class="article-wrap"> 
      <article>
        <h2>WORDSKINNERS At La MaMA</h2>
        <p>Jeffrey Cyphers Wright and William Electric Black host poets Harmony Holiday, Vincent Katz, Dorothea Lasky, Lauren Vitiello, James Feast, Corinna Copp, Christopher Stackhouse plus artists Marlene Yu and Savannah Spirit at La MaMa, NYC October 22, 2012. Video by Michael Anton.</p>
      </article>
    </div>
    <div class="video-wrap">
      <iframe width="560" height="315" src="//www.youtube.com/embed/sFxABhb8tSw?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="article-wrap"> 
      <article>
        <h2>LiVE MAG! No. 2 at Moe Pitkins</h2>
        <p>Jeffrey Cyphers Wright's panel of poetry editors including Matvei Yankelevich, Brenda Iijima, and John Reed, reading from their publications and from Poet audience members, April 7, 2010. Video by James Kalm.</p>
      </article>
    </div>
    <div class="video-wrap">
      <iframe width="560" height="315" src="//www.youtube.com/embed/iqFuyp-75So?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="article-wrap"> 
      <article>
        <h2>LiVE No.8 Launch</h2>
        <p>Jeffrey Cyphers Wright and Ilke Scobie host poets Rene Ricard, Kristen Prevalett, Jerome Scala, and more at the Bowery Poetry Club, NYC October 17, 2010. Video by Michael Anton.</p>
      </article>
    </div>
    <div class="video-wrap">
      <iframe width="560" height="315" src="//www.youtube.com/embed/eSpz-BHmZyQ?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  <div id="push">.</div> 
</div><!-- end container -->   
